<div class="row">
  <div class="animal-card col-md-6 col-lg-3 col-sm-12" *ngFor="let animal of animaux">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ animal.race }}</mat-card-title>
        <mat-card-subtitle>{{ animal.espece }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ animal.url }}" />
      <mat-card-content>
        <p>{{ animal.description }}</p>
        <div class="masque"></div>
      </mat-card-content>
      <mat-card-actions>
        <button class="button-like" mat-button>LIKE</button>
        <button class="button-share" mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<button class="bouton-ajouter"><i class="fas fa-plus"></i></button>
